RewriteEngine on

# Redirect to another domain: shubham.github.io.
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} !^(www\.)?shubham\.github\.io$ [NC]
RewriteRule .* http://shubham.github.io%{REQUEST_URI} [R=301,L]
# Same for HTTPS:
RewriteCond %{HTTPS} on
RewriteCond %{HTTP_HOST} !^(www\.)?shubham\.github\.io$ [NC]
RewriteRule .* https://shubham.github.io%{REQUEST_URI} [R=301,L]

# 301 Redirect URLs.
Redirect 301 /shubhamdevops.github.io/shubham.github.io https://shubham.github.io
